@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --main-color1:#ffffff;
    --main-color2:#fafafa;
    --number-color:#000000;
    --operator-color:#f36a64;
    --other-key-color:#1c866c;
}

body {
background-color: #57868c;
font-family: 'Roboto', sans-serif;

}

.container {
    width: 90%;
    /* height: 100vh; */
    margin: 100px auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: var(--number-color)
}

.calc {
    width: 330px;
    height: 600px;
    margin: 40px auto;
    border-radius: 0.8rem;
}

.calc-show {
    position: relative;
    padding: 1rem;
    font-weight: 700;
    width: 100%;
    height: 30%;
    background-color:var(--main-color1);
    border-radius: 1.5rem 1.5rem 0 0;
}

.calc-all-keydown {
    position: absolute;
    bottom: 50px;
    right: 25px;
    font-size: 1.8rem;
    margin-bottom: 6px;
    user-select: none;
}

.calc-main-result {
position: absolute;
bottom: 0;
right: 25px;
font-size: 4.5rem;
}

.calc-key {
    height: 70%;
    padding: 1rem;
    background-color:var(--main-color2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1.5rem 1.5rem;
    
}

.calc-key div {
    padding: 0.5rem;
    width:23%;
    height:18%;
    text-align: center;
    line-height: 2;
    font-size: 2.3rem;
    font-weight: 500;
}

.calc-operator {
    color:var(--operator-color);

}

.calc-other-key {
    color:var(--other-key-color); 
}


/*          Light/Dark Mode Start           */
#toggle {
    display: none;
}

.button {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: rgb(238, 232, 232);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.button::after {
    content: url('asset/sun.png');
    width: 30px;
    height: 30px;
    background-color: #e03c3c;
    border: 2px solid rgb(6, 95, 58);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0px;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s, transform 1s ease-in;
}

#toggle:checked+.button::after {
    content: url('asset/moon.png');
    background-color: #1f257fec;
    transform: translateX(20px) rotate(360deg);
}
/*          Light/Dark Mode End           */

@media (max-width:500px)
{
    .calc-main-result {
        font-size: 3.5rem;
        }

        .container {
            width: 100%;
            /* height: 100vh; */
            margin: 0 auto;
        }

        .calc {
            width: 100%;
            margin: 0 auto;
            height: 100vh;
        }

        .calc-show , .calc-key {
            border-radius: 0;
        }
}